<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Kelcie Feeney's HW #6 - Template: Menu</title>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <a href="index.html"><img src="img/header.gif" alt="Logo" /></a>
    </div>
    <div id="nav">
      <div class="innernav">
        <a href="menu.html">MENU</a>
      </div> 
      <div class="innernav">CONTACT</div>
      <div class="innernav">HOURS</div>
      <div class="innernav">ABOUT US</div>
    </div>
    <div id="section">
      <div class="innersectionlg">
      <h1>ABOUT US</h1>
      <br>
      <br>
      <br>
     <p>HaNa is a simple eatery serving Japanses style eats, such as sushi, noodle dishes and teriyaki. We also serve authentic Japanese sake and beer.
     <br>
     <br>
     We have had the pleasure of serving the Capitol Hill neighborhood for over 30 years. We hope you dine with us soon.
     </p>
      </div>
    </div>
    <div id="footer">
      <div class="innerfooter"></div>
      <div class="innerfooter">
      (c) 2015 HaNa Sushi & Noodle Bar</div>
      <div class="innerfooter">
        <img src="img/Facebook.png" alt="Facebook" />
        <img src="img/Twitter.png" alt="Twitter" />
        <img src="img/Foursquare.png" alt="Foursquare" />
      </div>
    </div>
  </div>
  <div id="w3schools">
    <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/html/logo/img/mark-word-icon.png" alt="Valid HTML5"  id="w3schools-img"/></a>
    <div id="w3schools-text">
      <h1><a href="https://goo.gl/MTtoUS">Validated!</a></h1>
    </div>
  </div>
</body>
</html>